/src/Domain/bin/
/src/Domain/obj/

/src/Application/bin/
/src/Application/obj/

/src/Infrastructure/bin/
/src/Infrastructure/obj/

/src/WebAPI/bin/
/src/WebAPI/obj/

/src/UnitTest/obj/
/src/UnitTest/bin/
.idea
